@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background:white;
}

section{
    margin: 0px 0;
}
.header{
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    text-align: center;
    color:black;
    background-color: #f1f1f1;
    padding: 10px;
}

.footer {
    background-color: #f1f1f1;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}
.cus-button{
    font-size: 1em;
    /* height: 45px;
    width: 45%; */
    /* padding: 10px 25px; */
    /* color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: #403e3d;
    border-radius: 50px; */

}
.menu-button{
    font-size: 14px;
    height: 45px;
    width: 32%;
    /* padding: 10px 25px; */
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: #403e3d;
    border-radius: 50px;
    margin-top: 10px;

}
.seat-table {
    width: 100%;
    text-align: center;
}

.book-seat {
    height: 5px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.seat {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;

    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.seat .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
/* Popup arrow */
.seat .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
/* Toggle this class - hide and show the popup */
.seat .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/* for pop up prototype*/
.boxx{
    text-align: center;
}
.buttonn{
    font-size: 1em;
    padding: 15px 35px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: #403e3d;
    border-radius: 50px;
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target{
    visibility: visible;
    opacity: 1;
}
.wrapper{
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
.wrapper h2{
    margin-top: 0;
    color: #333;
}
.wrapper .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.wrapper .content{
    max-height: 30%;
    overflow: auto;
}
/* form design */
.container{
    border-radius: 5px;
    background-color: #e7e7e7;
    padding: 20px 0;
}
form label{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type="submit"] {
    background-color: #413b3b;
    color: #fff;
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}




/* above is not used */
.red{
    background-color: red;
}
.green{
    background-color: green;
}


.section-title{
    font-size: 2em;
    font-weight: bold;
    margin: 5px;
    color:#EAECEE;
}
.section-subtitle{
    font-size: 0.8em;
    font-weight: lighter;
    line-height: 80%;
}

#course-edit-table,#main-table,#second-table{
    padding: 0;
    width: 100%;
    background: #F7F9F6;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.1);
    border-collapse: collapse;
    overflow: hidden;
}
#course-edit-table,#main-table > thead{
    background: #F7F9F6;
    /*color: white;*/
}

#second-table > thead{
    background: #555;
    color: white;
}

#status-table > thead > tr > th,#second-table > thead > tr > th{
    font-weight: lighter;
    text-align: left;
}
#status-table td,#main-table th,#second-table td,#second-table th{
    padding: 10px 10px;
    font-weight: lighter;
}
 
#task-to-add, #course-to-add, #deadline-to-add,#course-to-edit{
    padding:5px 10px;
    border-radius: 8px;
    border:1px solid #AAA;
}
  
.task-done{
    padding:5px 10px;
    border-radius: 8px;
    background: #D2F8B6;
}
.task-late{
    padding:5px 10px;
    border-radius: 8px;
    background:#FADBD8;
}
.task-less-than-1-hour{
    padding:5px 10px;
    border-radius: 8px;
    background:#FCF3CF ;
}
.submit-row,.delete-row,.done-row, #add-newrow, #add-course-option, #remove-course-option{
    border-radius: 8px;
    padding: 5px 10px;
    border: 1px solid #AAA;
    background: white;
    width: auto;
    cursor: pointer;
}
.submit-row:hover,.delete-row:hover,.done-row:hover, #add-newrow:hover, #add-course-option:hover, #remove-course-option:hover{
    background: rgb(255, 200, 105);
    color:white;
}