h1{
    align-items: center;
    text-align: center;
    font-family: "century gothic", sans-serif;
    font-size: 3em;
}

.buttonn{
  text-align: center;
  align-items: center;
  font-display:inherit;
  font-size: 1em;
  padding: 20px 35px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: #403e3d;
  border-radius: 50px;
}

